@tailwind base;
@tailwind components;
@tailwind utilities;

nav a.active {
    background-color: #1F2937;
    color: #E2E8F0;
}

.btn {
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 18px;
    border: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
    /* box-shadow: 6px 6px 12px #c5c5c5,
        -6px -6px 12px #ffffff; */
}

.btn::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0284C7 0%, #0284C7 100%);
    color: #fff;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.btn:hover::before {
    width: 9em;
    color: #fff;
}


.text-box {

    background: linear-gradient(80deg, #2af589 0%, #009efd 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}